html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nagycim{
    font-size: 8rem;
    color: rgb(252, 251, 249);
}

@media (max-width: 768px) {
    .nagycim {
        font-size: 5rem;
    }
    .kozepescim{
    font-size: 0.5rem;
    }
}

.kozepescim{
    font-size: 4rem;
    color: black;
}
.alszoveg{
    color: rgb(252, 251, 249);
}

.elerhetoseg{
    font-size: 200%;
    color: rgb(199, 197, 192);
}

main {
    flex: 1; 
}
  
.footer {
    background-color: rgb(35, 192, 21);
    color: white;
    margin-top: auto; 
}
  
.navbar {
    background-color: #fd0606; 
}
  
.cím {
    background: linear-gradient(180deg, #ff0000 0%, #ffffff 100%);
    min-height: 400px;
}
  
.promo {
    background: linear-gradient(0deg, rgb(35, 192, 21) 0%, #ffffff 100%);
    min-height: 300px;
}
  
.gomb {
    background-color: #006400;
    color: white;
    border: none;
}
  
.gomb:hover {
    background-color: #004d00;
}
.card{
    background-color: #e9e9e9;
}
.container{
    color: black;
}
.datum{
    color: black;
    font-weight: bold;
    font-variant: small-caps;
}
.hirek{
 text-align: center;
}
form {
  text-align: center;
}
