html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nagycim{
    font-size: 8rem;
    color: rgb(252, 251, 249);
}

@media (max-width: 768px) {
    .nagycim {
        font-size: 5rem;
    }
}
.alszoveg{
    color: rgb(252, 251, 249);
}

.elerhetoseg{
    font-size: 200%;
    color: rgb(199, 197, 192);
}

main {
    flex: 1; 
}
  
.footer {
    background-color: rgb(35, 192, 21);
    color: white;
    margin-top: auto; 
}
  
.navbar {
    background-color: #fd0606; 
}
  
.cím {
    background-image: linear-gradient(red, rgb(241, 241, 234));
}
  
.promo {
    background-image: linear-gradient(rgb(241, 241, 234), rgb(35, 192, 21));
}
  
.gomb {
    background-color: #006400;
    color: white;
    border: none;
}
  
.gomb:hover {
    background-color: #004d00;
}
.card{
    background-color: #e9e9e9;
}
.container{
    color: black;
}
.datum{
    color: black;
    font-weight: bold;
    font-variant: small-caps;
}
.hirek{
 text-align: center;
}
form {
  margin-left: 50px;
}
